<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29yayUyMGRlc2t8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container-fluid aboutme">
                <h1 class="headings"> About </h1>
                <span class="sub-heading" style="color:#7D5A50"> MY BACKGROUND </span>
                <p> A passionate student who's hardworking and determined to do tasks. I've the ability to see the situation
                    from different perspectives and can get the work done even in the face of obstacles.
                    As an upbeat, self-motivated team player with excellent communication, I envision an exciting future in the industry</p>
            </div>


            <div class="edu-skills">
            <div class="container edu">
              <div class="row">
                <div class="col">
                    <h1 class="headings"> Education </h1>
                    <span class="sub-heading" style="color:#7D5A50"> WHAT I'VE LEARNED </span>
                </div>
                  <div class="row">
                    <div class="col">
                      <p><strong> 2019-2023 </strong></p>
                        <p class="p">PES University - Btech in Electronics and communications engineering.</p>
                        <p class="p">CGPA - 7.35/10 </p>
                        <br>
                      <p><strong> 2017-2019 </strong></p>
                        <p class="p">Vidya Mandir Ind. PU College - Science</p>
                        <p class="p">Percentage - 96.3%</p>
                        <br>
                      <p><strong> 2007-2017 </strong></p>
                        <p class="p">Sri Vani Education Centre School</p>
                        <p class="p"> 10th Percentage - 95.5%</p>

                    </div>
                      </div>

                </div>
            </div>



            <div class="container skills">
                <div class="row">
                    <div class="col">
                  <h1 class="headings"> Skills </h1>
                    <span class="sub-heading" style="color:#7D5A50"> MY STRENGTHS </span>
                        </div>
                </div>

                    <div class="row">
                        <div class="col">
                            <ul>
                                <li>Python-Advanced</li>
                                <li> HTML-5</li>
                                <li> CSS </li>
                                <li> Bootstrap </li>
                                <li> Matlab </li>
                            </ul>
                    </div>
                </div>
                </div>
            </div>





        </main>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
{% include 'footer.html' %}
</html>
